@model MyDemo.Models.EmployeeViewModel
@{
    ViewBag.Title = "Delete";
}

<h1>Delete</h1>


<form asp-controller="Employee" asp-action="Delete" method="post" class="form-group">

    <label asp-for="Name">Employee Name</label>
    <input type="text" asp-for="Name" readonly class="form-control" />
    <br /><br />

    <label asp-for="Salary">Employee Salary</label>
    <input type="text" asp-for="Salary" readonly class="form-control" />
    <br /><br />

    <label asp-for="Address">Employee Address</label>
    <input type="text" asp-for="Address" readonly class="form-control" />
    <br /><br />

    <label asp-for="Email">Employee Email</label>
    <input type="email" asp-for="Email" readonly class="form-control" />
    <br /><br />


    <label asp-for="HireDate">Hire Date</label>
    <input type="date" asp-for="HireDate" disabled class="form-control" />
    <br />
          <div class="custom-control custom-checkbox">
              <label class="custom-control-label" asp-for="IsActive"> Is Active</label>
              <input type="checkbox" asp-for="IsActive" class="custom-control-input" readonly>
          </div>

    <br />

    <label asp-for="Notes">Notes</label>
    <textarea asp-for="Notes" readonly class="form-control" rows="4"></textarea>
    <br /><br />


    <label asp-for="DepartmentName">Department</label>
    <select asp-for="DepartmentName" asp-items="@(SelectList)ViewBag.DepartmentList" disabled class="form-control">
    </select>
    <br /><br />

    <center>
        <input type="submit" value="Delete" class="btn btn-primary" />
    </center>

</form>

